 

/* custom font */
@font-face {
  font-family: syne;
  src: url(syne.ttf);
}
 /* cache la scrollbar */
 html{
    scrollbar-width: none;
 }
 html::-webkit-scrollbar {
  display: none;
}


/* hyperliens */
.lien {
  color: black;
  text-decoration: none;
  font-weight: bold;              
}
.lien:hover {
  color: white;
  background:black;
}

/* index page */
 
 body.index {
      height: 400vh; /* on fait long pour permettre de scroller */
      margin: 0;
      background: white;
      overflow-x: hidden;
      color: black;
      font-family: syne;
       }

.container, .final-text {
      position: fixed;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
}

    pre {
      font-family: syne;
      font-weight: bold;
      margin: 0;
      white-space: pre;
      line-height: 1;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      user-select: none;
      opacity: 0;
    }

    pre.visible {
      opacity: 1;
    }

    .final-text {
      font-family: syne;
      font-weight: bold;
      text-align: center;
      opacity: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .final-text.visible {
      opacity: 1;
    }

    .final-text p {
      margin: 0;
      line-height: 1;
      white-space: pre-wrap;
      width: 100%;
    }