 

/* custom font */
@font-face {
  font-family: syne;
  src: url(syne.ttf);
}
@font-face {
  font-family: avara;
  src: url(avara.ttf);
}
 /* cache la scrollbar */
 html{
    scrollbar-width: none;
 }
 html::-webkit-scrollbar {
  display: none;
}

/* pages classiques */

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* header */
header {
  display:flex;
  justify-content: center;
  flex-direction: row;
  align-items: baseline;
  position: fixed;
  width: 98vw;
  margin-top: 0px;
  margin-left: 5px;
  z-index: 10;
}

header .box{
  flex-grow:10;
}

header div {
  margin-inline: 20px;
  flex-grow:0;
}

header a, header a:visited, header a:hover {
  color:black;
  text-decoration: none;
}

/* main part */

.holder {
  height:90vh;
  width: 100vw;
  align-self: center;
  margin-top: max(50px, 7vh);
  display: flex;
  flex-direction: column;
}

.paragraphe {
  margin-left:30px;
  margin-right:30px;
}

.multi-column {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  overflow:hidden;
  height: max(90vh,400px);
  position: relative;
  width: 100%;
  backface-visibility: hidden;
  will-change: overflow;
}

/* sous mobile les colonnes passent l'une sous l'autre dans agence */

@media (max-width:800px)  {
.holder {
  height:auto;
  width: 100vw;
  align-self: center;
  margin-top: max(50px, 7vh);
  display: flex;
  flex-direction: column;
}
#agence.multi-column {
  flex-direction: column;
  height:auto;
  } 
.column {
  height: auto;
  padding: 35px;
  flex:0;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
}

@media (min-width:800px) {
#small.column {
  max-width:15vw
}
}

#list {
  flex: 1 1 auto;
  min-width: 0;
}

#preview {
  flex: 0 0 auto;
  white-space: nowrap;
}

.column {
  overflow:scroll;
  height: auto;
  padding: 35px;
  flex:1;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.column::-webkit-scrollbar {
    display: none;
}

.image {
  width:100%
}


/*header*/
h1 {
  font-family: avara;
  font-size: max(24px, 4vh);
}
h2 {
  font-family: avara;
  font-weight: 900;
  font-size: max(14px, 2vh);
}
/*paragraphes*/
p {
  font-family: syne;
  font-size: max(14px, 2vh);
}

h3 {
  font-family: syne;
  font-size: max(12px, 1.5vh);
  font-weight: lighter;
}
/*ascii art*/
h4 {
  font-family: syne;
  font-weight: bold;
  font-size: 8px;
  margin: 0;
  white-space: pre;
  line-height: 1;
  user-select: none;
}
h5 {
  font-family: syne;
  font-weight: bold;
  font-size: 0.56vh;
  margin: 0;
  white-space: pre;
  line-height: 1;
  user-select: none;
}

table {
  font-family: syne;
  font-size: max(14px, 2vh);
  text-align: left;
  width: 100%;
}

td {
  vertical-align: top;
  font-style: italic;
  padding-right: 1em;
}

th {
  vertical-align: top;
  font-weight: bold;
  padding-right: 1em;
}


/* liste des projets sur mobile */

@media (max-width:480px)  {
#myTable {
  font-size: 12px;
}

#myTable tr td:nth-child(3),
#myTable tr th:nth-child(3) {
  display:none;
}
#myTable tr td:nth-child(5),
#myTable tr th:nth-child(5) {
  display:none;
}
#myTable tr td:nth-child(7),
#myTable tr th:nth-child(7) {
  display:none;
}
#preview {
  display: none;
}
}

/* liste des projets sur tablette */

@media (min-width:481px) and (max-width:800px)  {
#preview {
  display: none;
}
}


/* hyperliens */
.lien {
  color: black;
  text-decoration: none;
  font-weight: bold;              
}
.lien:hover {
  color: white;
  background:black;
}


/* index sur mobile */
@media (max-width:600px) {
  pre {
    display:none
  }
  p.index {
    display:none
  }
  body.index {
    height:100vh;
    overflow:hidden;
  }
}

/* index sur pc */

@media (min-width:600px) {
  #gif {
    display:none;
    opacity:0;
  }
}

body.index {
  height: 400vh; /* on fait long pour permettre de scroller */
  margin: 0;
  background: white;
  overflow-x: hidden;
  color: black;
  font-family: syne;
}

.container, .final-text {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

pre {
  font-family: syne;
  font-weight: bold;
  margin: 0;
  white-space: pre;
  line-height: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
  opacity: 0;
}

pre.visible {
  opacity: 1;
}

.final-text {
  font-family: syne;
  font-weight: bold;
  text-align: center;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  margin: 0;
  line-height: 1;
  white-space: pre;
  user-select: none;
  width: 100%;
}

.final-text.visible {
      opacity: 1;
}